### Token API
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
LIVEKIT_AGENT_NAME=digital-twin

### Agent
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
GROQ_API_KEY=
DEEPGRAM_API_KEY=
CARTESIA_API_KEY=
